applaunchservices==0.2.1
appnope==0.1.0
appscript==1.0.1
argh==0.26.2
asn1crypto==1.3.0
astroid==2.3.3
astropy==4.0
atomicwrites==1.3.0
attrs==19.3.0
autopep8==1.4.4
Babel==2.8.0
backcall==0.1.0
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
beautifulsoup4==4.8.2
bitarray==1.2.1
bkcharts==0.2
bleach==3.1.0
blinker==1.4
bokeh==1.4.0
boto==2.49.0
Bottleneck==1.3.2
certifi==2019.11.28
chart-studio==1.1.0
corenlp-protobuf==3.8.0
dash==1.4.1
dash-core-components==1.3.1
dash-html-components==1.0.1
dash-renderer==1.1.2
dash-table==4.4.1
docutils==0.16
Flask==1.1.1
Flask-Compress==1.4.0
json5==0.9.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.1.0
jupyter-core==4.6.1
jupyterlab==1.2.6
jupyterlab-server==1.0.6
matplotlib==3.1.3
nltk==3.4.5
numpy==1.18.1
oauthlib==3.0.1
packaging==20.1
pandas==1.0.1
pandocfilters==1.4.2
pathlib2==2.3.5
pep8==1.7.1
plotly==4.5.2
py==1.8.1
pycparser==2.19
pycurl==7.43.0.5
pydocstyle==4.0.1
pyflakes==2.1.1
pylint==2.4.4
pyparsing==2.4.6
ruamel-yaml==0.15.87
scikit-image==0.16.2
scikit-learn==0.22.1
scipy==1.4.1
seaborn==0.10.0
spyder-kernels==1.8.1
SQLAlchemy==1.3.13
tables==3.6.1
tblib==1.6.0
tweepy==3.8.0
unicodecsv==0.14.1
urllib3==1.25.8
watchdog==0.10.2
